#!/system/bin/sh
busybox_path="/data/adb/magisk/busybox"
if [ -f "/data/adb/ksu/bin/busybox" ]; then
  busybox_path="/data/adb/ksu/bin/busybox"
elif [ -f "/data/adb/apatch/bin/busybox" ]; then
  busybox_path="/data/adb/apatch/bin/busybox"
elif [ ! -f "$busybox_path" ]; then
  busybox_path=$(command -v busybox)
fi
[ -z "$busybox_path" ] && busybox_path="busybox"

wserv_path="/data/adb/php8"
php_bin="${wserv_path}/files/bin/php"

wserv_ip="0.0.0.0"
wserv_port="80"

www_path="${wserv_path}/files/www"
php_ini_conf="${wserv_path}/files/config/php.ini"
php_tmp_dir="${wserv_path}/files/tmp"
php_pid_path="${php_tmp_dir}/php.pid"
php_log_path="${php_tmp_dir}/php_error.log"

if [ ! -d "$php_tmp_dir" ]; then
  mkdir -p "$php_tmp_dir"
  chmod 777 "$php_tmp_dir"
fi

if [ ! -d "$www_path" ]; then
  mkdir -p "$www_path"
  echo "<?php phpinfo(); ?>" > "$www_path/index.php"
fi

# TTYD CONFIG
# ttyd_run="0" : TTYD not running with PHP
# ttyd_run="1" : TTYD running with PHP

ttyd_run="1"
ttyd_port="3001"
ttyd_firstcmd="sh /data/adb/php8/scripts/tmux_run"
ttyd_pid_path="${php_tmp_dir}/ttyd.pid"
tmux_bin_path="/data/data/com.termux/files/usr/bin"
termux_home="/data/data/com.termux/files/home"